*{
    margin: 0;
    border: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    background: linear-gradient(purple, black);
    height: 100vh;
}
nav{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url("../images/menu.png");
    background-size: 100% 100%;
}
nav ul{
    display: none;
    position: absolute;
    right:0px;
    top: 0;
    margin-top:30px;
	width: 150px;
	list-style-type: none; 
	
}
nav li{
    background-color: rgb(250,245,245);
    border-bottom: 1px solid black;
}
nav input[type=submit]{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: lightgray;
}
.form1{
    display: block;
    margin-top: 14px;
}
.form2{
    display: block;
    margin-top: 14px;
}


footer{
    display: inline-block;
    width: 100%;
    background-color: blue;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer p{
    font-size: 16px;
    color: white;
}
.container{
    width: 100%;
    height: 600px;
}
div.principal{
    height: 600px;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(250,250,250, 0.1)

}
form{
    display: inline-block;
}
.principal input[type=submit]{
    padding: 5px;
    background: linear-gradient(blue, black);
    color: white;
}
.principal input[type=text]{
    height: 20px;
}
.principal input[type=text]:focus{
    outline:none;
}
.principal label{
    font-weight: bold;
    font-size: 20px;
    color: rgb(206, 194, 194);
}
.principal select{
    margin-right: 30px;
    background: linear-gradient(blue, white);
    color: black;
    width: 40px;

}
.principal .tableP{
    text-align: center;
    margin-left: 245px;
    margin-top: 50px;
    display: block;
    width: 50%;
    height: 250px;
    background: linear-gradient(blue, white);
    overflow-y: auto;
}
td{
    border: 1px solid black;
    padding: 7px;
    text-align: center;

}
table{
    border-collapse: collapse;
}
